.mainapp {
    grid-area: main;
    background-size: cover;
    object-fit: cover;
    display: block;
    text-align: center;
        .tituloapp {
            grid-area: tituloapp;
            color: rgb(255, 255, 255);
            font-size: 20px;
            padding: 20px;
            animation: backInDown;
            animation-duration: 2s;
        }
        .videoyparrafo {
            color: white;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 15px;
            .parrafoapp {
                width: 50%;
                padding: 20px;
                font-size: 1.2rem;
                animation: backInLeft;
                animation-duration: 2s;
                
            }
            .videoapp {
                height: 350px;
                width: 70%;
                padding: 20px;
                animation: backInRight;
                animation-duration: 2s;
            }

        }
        .imagenesapp {
        color: rgb(255, 255, 255);
        padding: 20px;
            .imgapple {
                height: 50px;
                width: 150px;
                border-radius: 10px;
                border: 2px solid white;
                margin-top: 15px;
                margin-bottom: 15px; 
            }
            .imgandroid {
                height: 50px;
                width: 150px;
                border-radius: 10px;
                border: 2px solid white;
                margin-top: 15px;
                margin-bottom: 15px; 
            }
        }
}