@media screen and (max-width: 1500px)  {
    .checkbtn {
        display: none;
    }
    .contendorcard {
        flex-wrap: wrap;
    }
        .cardserv {
            width: 30%; 
            margin: 0 auto;
            border: 1px solid #ccc; 
            padding: 20px; 
            margin-bottom: 20px; }
}
@media screen and (max-width: 768px) { 
    .checkbtn {
        display: block; 
        color: #cc0404;
        }
    .nav-links {
        position: absolute;
        width: 100%;
        height: 100vh;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        background-color: #272727;
    li {
        display: block;
        margin: 50px;
        line-height: 30px;
        a {
        font-size: 20px;
        &:hover {
        background-color: none;
        color: red
        }
        &:active {
        background-color: none;
        color: red
        }
        }
    }
    }
    }
    #check:checked ~ ul{
        left:0;
    }
    #mainindex {
        grid-template-columns: 1fr; 
        grid-template-rows: auto; 
        grid-template-areas:
            "section1"
            "section2"
            "aside"; 
        .imgindex {
        width: 50%;
        height: 200px;
        justify-items: center;
        }
    }

@media screen and (max-width: 600px) {
    
    #mainindex {
        grid-template-columns: 1fr; 
        grid-template-rows: auto; 
        grid-template-areas:
            "section1"
            "section2"
            "aside"; 
        .imgindex {
            background-color: aqua;
        }
    }
    .contendorcard {
        flex-direction: column;
        text-align: center;
        padding: 20px;
        .cardserv {
            width: 80%; 
            margin: 0 auto;
            border: 5px solid #ccc; 
            padding: 20px; 
            margin-bottom: 20px; 
        }
    }
}   
@media screen and (max-width: 800px) {
    .maincontact {
        display: grid;
        grid-template-columns: 1.5fr; 
        grid-template-rows: auto; 
        grid-template-areas:
        "titulocont" 
        "formcontact"
        "asidecontact"
        "sectioncontact";
        .sectioncontact {
            padding: 20px;
            .contenedordeimg{
                display: block;
                justify-content: center;
                .img1cont{
                height: 150px;
                width: 50%;
                padding: 10px;
                }
                .img2cont{
                height: 150px;
                width: 50%;
                padding: 10px;
                }
                .img3cont{
                height: 150px;
                width: 50%;
                padding: 10px;
                }
                .img4cont{
                height: 150px;
                width: 50%;
                padding: 10px;
                }
                .img5cont{
                height: 150px;
                width: 50%;
                padding: 10px;
                }
            }
        }
    }
    .contendorcardcobert {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding: 40px;
        .cardcobert {
            width: 80%; 
            margin: 0 auto;
            border: 5px solid #ccc; 
            padding: 20px; 
            margin-bottom: 20px;
        }
    }
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 0px;
    }


}
@media screen and (max-width: 480px){

    .maincontact {
    display: block;
    .formcontact {  
    .textarea1 {
        width: 80%;
    }
    }
}
}
    